extends layouts/_layout.pug

block variables
	- var activePage = 'register-page'
	- var activeGroup = 'pages'
	- var i = 1

block title
	title #{title} | Danish - Thai Gala

block content
	section.material-half-bg
		.cover

	section.container
		h2.text-center.top-buffer.text-white #{title}
		br

		.col-md-12
			.tile
				h3.tile-title Seat Number

				.tile-body
					.form.row
						.form-group.col-md-12
							.alert.alert-danger(role='alert', id="msgDiv")
					.form.row

						.form-group.col-md-3
							- var n = 1;
							select#getSeats.form-control
								while n <= 10
									option(value=n)= n++
						.form-group.col-md-3
							input#inputPrice.form-control(type='text', value='4000')
						.form-group.col-md-3
							button#btn-paypal-foobar.btn.btn-primary(type="button")
								i.fa.fa-fw.fa-lg.fa-check-circle
								| Purchase via Paypal
						.form-group.col-md-3
							button#btn-bank-foobar.btn.btn-primary(type="button")
								i.fa.fa-fw.fa-lg.fa-check-circle
								| Purchase via Bank Transfer
						.form-group.col-md-3



		.col-md-12
			.tile
				h3.tile-title Reservation

				.tile-body

					mixin people()
						- var i = 1;
						.form-row.reservationUser(id="reservation-"+i)
							.form-group.col-md-3
								label.control-label First Name - i
								input.form-control(type="text", placeholder="Enter your name", name="firstName[@{i}][name]")
							.form-group.col-md-3
								label.control-label Last Name
								input.form-control(type="text", placeholder="Enter your name" name="lastName")

							.form-group.col-md-3
								label.control-label Email
								input.form-control(type="text", placeholder="Enter your email" name="email")
							.form-group.col-md-3
								label.control-label(for='food') Meal Preference
								mixin food(name)
									option.food&attributes(attributes)= name
								select#food.form-control(name="food")
									+food('Hindu Meals')
									+food('Vegetarian Meals')(selected)
									+food('Seafood Meals')
									+food('Child Meals') i++
					+people()
					+people()
					+people()
					+people()
					+people()
					+people()
					+people()
					+people()
					+people()

		.col-md-12
			.tile
				h3.tile-title Activities
				.tile-body
					table.table
						tr
						th username
						th customer
						th language
						th app_id
					tbody
						each users in accounts
						tr
							td #{users.user.name}
							td #{users.user.email}
							each app in application
								td #{app.language}
								td #{app.app_id}
block specific-js
	script(type='text/javascript').

		$('select#getSeats').change(function(){
			var result = $('#reservationForm').serializeJSON();
			var numSeat = $(this).find(":selected").val();
			$('input#inputPrice').val(numSeat*4000);
			$('#output1').html('JSON: ' + JSON.stringify(result));
		});


		$("#btn-paypal-foobar").on('click', function(event){
			event.preventDefault();
			$.alert({
				title: 'Attention Please!',
				content: "<strong>This is testing site:</strong><br>After click it will redirect to paypal page after finish it will redirect to done page and send email to CLIENT DTCC ORGANISER.<br>It will skip into next step without do any transaction<br><small>- Eddard 'Ned' Stark</small>",
				buttons: {
					Okey: function(){
						location.href = "/user/4";
					}
				}
			});

		});

		