extends layouts/_layout.pug

block variables
	- var activePage = 'invoice-page'
	- var activeGroup = 'pages'

block title
	title #{title} | Danish - Thai Gala

block content
	section.material-half-bg
		.cover
	section.container
		h2.text-center.top-buffer.text-white #{title} #{message}
		br
		.row
			.col-md-12
				.tile
					section.invoice
						.row.mb-4
							.col-6
								h2.page-header
									img#logoUrl.logo-size(border='0' alt src='https://pics.paypal.com/00/s/NzNYMzAwWFBORw/p/ZmIzMGUwYmUtMTVlNS00NjVhLWJlYjQtNjI1ZDY5MTNlYzIy/image_109.PNG')
							.col-6
								h5.text-right Date: #{moment(invoice.createdAt).format('Do MMMM YYYY')}
							.col-md-4
								h5 Danish Thai Chamber of Commerce (Head Office)
								br
								| 34 CP Building3 9th Floor Tower A Phayathai Road Tungphayathai Ratchathewi Bangkok, Bangkok 10400 Thailand
								br
								| Tax ID 0105549102225
								br
								br
								| Phone: +66 23545220
								br
								| Fax: +6623545221
								br
								| media@dancham.or.th
								br
								| https://www.dancham.or.th
							.col-md-4
								| Payment received from :
								if user.paymentProfile.isBusiness && user.paymentProfile.companyTaxId
									strong  #{user.paymentProfile.companyName}
									br
									| TAX ID : #{user.paymentProfile.companyTaxId}
								else
									strong  #{user.getFullname()}
								br
								| #{user.paymentProfile.address}
								br
								| #{user.paymentProfile.addressStreet}
								br
								| #{user.paymentProfile.addressCity}, #{user.paymentProfile.addressProvince}
								br
								| #{user.paymentProfile.addressPostalCode}
								br
								| Phone: #{user.paymentProfile.mobile}
								br
								| Email: #{user.email}
							.col-md-4

								strong Transaction ID:
								//- |  #{invoice.paypalJson.id}
								|  #{invoice.paypalJson.purchase_units[0].payments.captures[0].id}
								br
								strong Order ID:
								|  #{invoice.bookID}
								br
								strong Payment Due:
								|  #{moment(invoice.paypalJson.purchase_units[0].payments.captures[0].create_time).format('Do MMMM YYYY, h:mm:ss a')}
								br
								strong Payment status:
								|  #{invoice.paypalJson.status}
								br
								strong Gross amount:
								|  #{invoice.paypalJson.purchase_units[0].amount.value} #{invoice.paypalJson.purchase_units[0].amount.currency_code}
						.row.mt-5
							.col-12.table-responsive-sm
								table.table
									thead
										tr
											th: strong Order details
											th Reservations
											th Quantity
											th.text-right Price
											th.text-right Subtotal
									tbody
										tr.border-bottom
											td
												| Item: dtcc-booking-01
												br
												| Description: #{invoice.paypalJson.purchase_units[0].items[0].name}
											td
												each reservedata, index in reservations
														div #{reservedata.getFullname()}  -  #{reservedata.email}  -  #{reservedata.food}
											td #{invoice.seat}
											td.text-right #{invoice.paypalJson.purchase_units[0].items[0].unit_amount.value} #{invoice.paypalJson.purchase_units[0].items[0].unit_amount.currency_code}
											td.text-right #{invoice.paypalJson.purchase_units[0].amount.value} #{invoice.paypalJson.purchase_units[0].amount.currency_code}
									tfoot
										tr
											th.pt-0.border-0.text-right(colspan='4'): strong Purchase total
											th.pt-0.border-0.text-right #{invoice.paypalJson.purchase_units[0].amount.value} #{invoice.paypalJson.purchase_units[0].amount.currency_code}
										tr
											th.pt-0.border-0.text-right(colspan='4'): strong Sales tax
											th.pt-0.border-0.text-right #{invoice.paypalJson.purchase_units[0].items[0].tax.value} #{invoice.paypalJson.purchase_units[0].items[0].tax.currency_code}
										//- tr
										//- 	th.pt-0.border-0.text-right(colspan='4'): strong PayPal fee
										//- 	th.pt-0.border-0.text-right -1,571.00 THB
										//- tr
										//- 	th.pt-0.border-0.text-right(colspan='4'): strong Net amount
										//- 	th.pt-0.border-0.text-right #{(invoice.paypalJson.purchase_units[0].amount.value)-1571.00} THB

						.row.d-print-none.mt-2
							.col-12.text-right
								a.btn.btn-primary(href='javascript:window.print();', target='_blank')
									i.fa.fa-print
									|  Print

