extends layouts/_layout.pug

block variables
	- var activePage = 'booking-reservation-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-striped.table-bordered.w-100#sampleTable
							thead
								tr
									th Name
									th Contact
									//- th Food
									//- th isBusiness
									//- th mobile
									//- th companyName
									//- th companyTaxId
									th Address
									//- th addressStreet
									//- th addressCity
									//- th addressProvince
									//- th addressPostalCode
									//- th Phone
									th Seat (24)
									th Amount (96,000)
									th.text-center Date
									th.text-center Doc.
									th.text-center Status
							tbody
								each user, index in users
									each invoicereceipt, index in user.invoicereceipts
										if !user.isDev
											tr(id='row-'+user.id)
												td.align-middle.text-capitalize.m-0 #{user.getFullname()}
												td.align-middle #{user.email}
												//- td #{reservedata.food}
												//- td #{user.paymentProfile.isBusiness}
												//- td #{user.paymentProfile.mobile}
												//- td #{user.paymentProfile.companyName}, #{user.paymentProfile.companyTaxId}
												//- td #{user.paymentProfile.companyTaxId}
												td
													if user.paymentProfile.isBusiness
														strong.text-capitalize.m-0 #{user.paymentProfile.companyName}
														.small #{user.paymentProfile.companyTaxId}<br>
													else
														strong.text-capitalize.m-0 #{user.getFullname()}
													.small #{user.paymentProfile.address}, #{user.paymentProfile.addressStreet}, #{user.paymentProfile.addressCity}, #{user.paymentProfile.addressProvince}, #{user.paymentProfile.addressPostalCode}
														if user.paymentProfile.isBusiness
															br
															| #{user.paymentProfile.companyOffice}, Fax: #{user.paymentProfile.companyFax}
														else
															br
															| Mobile: #{user.paymentProfile.mobile}

												//- td
												//- 	| #{invoicereceipt.paypalPayerID}
												//- 	br
												//- 	| #{invoicereceipt.paypalOrderID}
												//- 	br
												//- 	| #{invoicereceipt.bookID}
												//- 	br
												if invoicereceipt.paypalOrderID
													td.align-middle.text-center #{invoicereceipt.seat}
													td.align-middle.text-center #{invoicereceipt.paypalJson.purchase_units[0].amount.value} #{invoicereceipt.paypalJson.purchase_units[0].amount.currency_code}
													td.align-middle.text-center.small #{moment(invoicereceipt.createdAt).format('Do MMMM YYYY')}
													td.align-middle.text-center
														if invoicereceipt.paypalOrderID
															a.btn-sm.btn-info(href='/user/invoicebyuser/'+invoicereceipt._id, target='_blank') Receipt
														else
															span.badge.badge-warning #{invoicereceipt.paypalJson.status}
													td.align-middle.text-center
														if invoicereceipt.paypalOrderID
															span.badge.badge-success #{invoicereceipt.paypalJson.status}
														else
															span.badge.badge-warning Waiting
												else
													td.align-middle.text-center -
													td.align-middle.text-center -
													td.align-middle.text-center.small #{moment(user.updatedAt).format('Do MMMM YYYY')}
													td.align-middle.text-center -
													td.align-middle.text-center
														span.badge.badge-dark No action


block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').

		$('#sampleTable').DataTable( {
			"scrollX": true
		} );

		console.log(`#{reservations}`);