extends layouts/_layout.pug

block variables
	- var activePage = 'booking-invoice-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-striped.table-bordered.w-100#sampleTable
							thead
								tr
									th Name
									th Contact
									//- th Food
									//- th isBusiness
									//- th mobile
									//- th companyName
									//- th companyTaxId
									th Address
									//- th addressStreet
									//- th addressCity
									//- th addressProvince
									//- th addressPostalCode
									//- th Phone
									th Seat
									th Amount
									th.text-center Date
									th.text-center Doc.
									th.text-center Status
							tbody
								each invoice, index in invoices
									each reservation, i in invoice.reservations
										if !invoice._user
										tr(id='row-'+invoice.id)
											td.align-middle.text-capitalize.m-0 #{index+1}
											td
												| #{invoice._user.email}
												br
												| #{invoice._user.id}
											//- td #{invoice._user.getFullname}
											//- td.align-middle #{user.email} #{user.invoicereceipts.length}
											//- td #{reservedata.food}
											//- td #{user.paymentProfile.isBusiness}
											//- td #{user.paymentProfile.mobile}
											//- td #{user.paymentProfile.companyName}, #{user.paymentProfile.companyTaxId}
											//- td #{user.paymentProfile.companyTaxId}
											//- td
											//- 	if user.paymentProfile.isBusiness
											//- 		strong.text-capitalize.m-0 #{user.paymentProfile.companyName}
											//- 		.small #{user.paymentProfile.companyTaxId}
											//- 	else
											//- 		strong.text-capitalize.m-0 #{user.getFullname()}
											//- 	.small #{user.paymentProfile.address}, #{user.paymentProfile.addressStreet}, #{user.paymentProfile.addressCity}, #{user.paymentProfile.addressProvince}, #{user.paymentProfile.addressPostalCode}
											//- 		if user.paymentProfile.isBusiness
											//- 			br
											//- 			| #{user.paymentProfile.companyOffice}, Fax: #{user.paymentProfile.companyFax}
											//- 		else
											//- 			br
											//- 			| Mobile: #{user.paymentProfile.mobile}

											td
												| #{invoice.paypalPayerID}
												br
												| #{invoice.paypalOrderID}
												br
												| #{invoice.bookID}
												br
											if invoice.paypalOrderID
												td.align-middle.text-center #{invoice.seat}
												td.align-middle.text-center #{invoice.paypalJson.purchase_units[0].amount.value} #{invoice.paypalJson.purchase_units[0].amount.currency_code}
												td.align-middle.text-center.small #{moment(invoice.paypalJson.purchase_units[0].payments.captures[0].create_time).format('Do MMMM YYYY')}
												td.align-middle.text-center
													if invoice.paypalOrderID
														a.btn-sm.btn-info(href='/user/invoicebyuser/'+invoice._id, target='_blank') Receipt
														//- br
														//- | #{invoice.paypalJson.purchase_units[0].payments.captures[0].id}
													else
														span.badge.badge-warning #{invoice.paypalJson.status}
												td.align-middle.text-center
													if invoice.paypalOrderID
														span.badge.badge-success #{invoice.paypalJson.status}
													else
														span.badge.badge-warning Waiting
											else
												td.align-middle.text-center -
												td.align-middle.text-center -
												td.align-middle.text-center.small #{moment(invoice.updatedAt).format('Do MMMM YYYY')}
												td.align-middle.text-center -
												td.align-middle.text-center
													span.badge.badge-dark No action


block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")
	script(type='text/javascript', src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js")

	script(type='text/javascript', src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js")
	script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")
	script(type='text/javascript', src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js")

	script(type='text/javascript').

		$(document).ready(function () {
			$.fn.dataTable.ext.errMode = 'throw';

			$.fn.dataTable.moment('HH:mm MMM D, YY');
			$.fn.dataTable.moment('dddd, MMMM Do, YYYY');
			$.fn.dataTable.moment('DD/MM/YYYY');
			$.fn.dataTable.moment('Do MMMM YYYY');

			$('#sampleTable').DataTable( {
				"scrollX": true,
				"order": [[ 5, "desc" ]],
				"dom": 'Bfrtip',
				"buttons": [
						{
								extend: 'excelHtml5',
								text: 'Export excel',
								className: 'exportExcel',
								filename: 'Export User excel',
								exportOptions: {
									modifier: {
										page: 'all'
									}
								}
						}
				]
			});
		});

		console.log(`#{reservations}`);