extends layouts/_layout.pug

block variables
	- var activePage = 'booking-reservation-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th No.
									th Reservation
									th Contact
									th Food
									//- th isBusiness
									//- td mobile
									//- td companyName
									//- td companyTaxId
									th Book by
									//- td addressStreet
									//- td addressCity
									//- td addressProvince
									//- td addressPostalCode
									//- td Phone
									//- td companyFax
									//- th _transactionid
									th.text-center Date
									th.text-center Doc.
									th.text-center Status
							tbody
								each reservedata, index in reservations
									if reservedata._transactionid.paypalOrderID
										tr(id='row-'+reservedata.id)
											td.align-middle.text-capitalize.m-0 #{index+1}
											td.align-middle.text-capitalize-auto #{reservedata.getFullname()}
											td.align-middle
												.small.text-lowercase #{reservedata.email}
												.small #{reservedata._user.paymentProfile.mobile}
											td.align-middle.text-center #{reservedata.food}
											//- td #{reservedata._user.paymentProfile.isBusiness}
											//- td #{reservedata._user.paymentProfile.mobile}
											//- td #{reservedata._user.paymentProfile.companyName}, #{reservedata._user.paymentProfile.companyTaxId}
											//- td #{reservedata._user.paymentProfile.companyTaxId}
											td
												if reservedata._user.paymentProfile.isBusiness
													strong.text-capitalize.m-0 #{reservedata._user.paymentProfile.companyName}
													.small #{reservedata._user.paymentProfile.companyTaxId}<br>
												else
													strong.text-capitalize.m-0 #{reservedata._user.getFullname()}
												.small #{reservedata._user.paymentProfile.address}, #{reservedata._user.paymentProfile.addressStreet} <br> #{reservedata._user.paymentProfile.addressCity}, #{reservedata._user.paymentProfile.addressProvince}, #{user.paymentProfile.addressPostalCode}<br>
												if reservedata._user.paymentProfile.isBusiness
													.small Office: #{reservedata._user.paymentProfile.companyOffice}, Fax: #{reservedata._user.paymentProfile.companyFax}
												else
													.small Mobile: #{reservedata._user.paymentProfile.mobile}
											//- td #{reservedata._user.paymentProfile.addressStreet}
											//- td #{reservedata._user.paymentProfile.addressCity}
											//- td #{reservedata._user.paymentProfile.addressProvince}
											//- td #{reservedata._user.paymentProfile.addressPostalCode}
											//- td #{reservedata._user.paymentProfile.companyOffice}, #{reservedata._user.paymentProfile.companyFax}
											//- td #{reservedata._user.paymentProfile.companyFax}
											//- td
												| #{reservedata._transactionid.paypalPayerID}
												br
												| #{reservedata._transactionid.paypalOrderID}
												br
												| #{reservedata._transactionid.bookID}
											td.align-middle.text-center.small #{moment(reservedata.createdAt).format('Do MMMM YYYY')}
											td.align-middle.text-center
												if reservedata._transactionid.paypalOrderID
													a.btn-sm.btn-info(href='/user/invoice/'+reservedata._transactionid._id, target='_blank') Receipt
												else
													span.badge.badge-warning #{reservedata._transactionid.paypalJson.status}
											td.align-middle.text-center
												if reservedata._transactionid.paypalOrderID
													span.badge.badge-success #{reservedata._transactionid.paypalJson.status}
												else
													span.badge.badge-warning Waiting

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').

		$('#sampleTable').DataTable( {
			"scrollX": true
		} );

		console.log(`#{reservations}`);