extends layouts/_layout.pug

block variables
	- var activePage = 'register-page'
	- var activeGroup = 'pages'
	- var i = 1

block title
	title #{title} | Danish - Thai Gala

block content
	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br


		form#reservationForm.form-main(role="form-reservation" method="post" action="reservation")
			input(type="hidden" name="userID" value=user.id )
			.col-md-12
				.tile
					h3.tile-title 1. Select seats number
					hr
					.tile-body
						.form.row
							.form-group.col-md-12
								.alert.alert-danger(role='alert', id="msgDiv")
						.form.row

							.form-group.col-md-4
								- var n = 1;
								select#getSeats.form-control(name='seat')
									while n <= 10
										option(value=n)= n++
							.form-group.col-md-4
							.form-group.col-md-4
			.col-md-12
				.tile
					h3.tile-title 2. Reservation
					hr
					.tile-body
						- for (var i=0; i<10; i++)
							.form-row.reservationUser(id="reservation-"+i)
								.form-group.col-md-3
									label.control-label First Name
									input.form-control(type="text" placeholder="Enter your name" name="reservations[firstName][]" data-value-type="auto" value=(i === 0 ? user.paymentProfile.firstName : "" ))
								.form-group.col-md-3
									label.control-label Last Name
									input.form-control(type="text" placeholder="Enter your name" name="reservations[lastName][]" data-value-type="auto" value=(i === 0 ? user.paymentProfile.firstName : "" ))
								.form-group.col-md-3
									label.control-label Email
									input.form-control(type="text" placeholder="Enter your email" name="reservations[email][]" data-value-type="auto" value=(i === 0 ? user.email : "" ))
								.form-group.col-md-3
									label.control-label(for='food') Meal Preference
									mixin food(name)
										option.food&attributes(attributes)= name
									select#food.form-control(name="reservations[food][]" data-value-type="auto")
										+food('Meat')(selected)
										+food('Fish')
										+food('Vegetarian') #{i+1}
			.col-md-12
				.tile
					h3.tile-title 3. Check Out
					hr
					.tile-body
						.form.row
							.form-group.col-md-2.text-center
							.form-group.col-md-4.text-center
								.input-group.input-group-lg
									.input-group-prepend
										span.input-group-text Total
									input#inputPrice.form-control.text-right(type='text', aria-label='Amount (to the nearest THB)', value="", name="amount" disabled)
									.input-group-append
										span.input-group-text THB
							.form-group.col-md-4.text-center
								.paypalBTN
									#paypal-button-container-1

							.form-group.col-md-2.text-center
								//- button#btn-bank-foobar.btn.btn-primary(type="submit")
								//- 	i.fa.fa-fw.fa-lg.fa-check-circle
								//- 	| Check out

								//- button#btn-bank-submit.btn.btn-primary(type="submit")
								//- 	i.fa.fa-fw.fa-lg.fa-check-circle
								//- 	| Check out
								//- p.text-center
								//- | Account holder: Danish-Thai Chamber of Commerce
								//- br
								//- | Bank name: Bangkok Bank
								//- br
								//- | Branch: Ratchathewi
								//- br
								//- | Account number: 123-318207-8
								//- br
								//- | Swift code: BKKBTHBK

			if reservations
				.col-md-12
					.tile
						h3.tile-title 4. Activities
						.tile-body
							table.table
								thead
									tr
										th Invoice
										th Date
										th Statue
										th Action
								tbody
									each reservedata in reservations
										tr
											td #{reservedata.docNo}
											td #{reservedata.firstName}  #{reservedata.lastName}
											td #{reservedata.email}
											td #{reservedata.lastName}
block specific-js
	script(type='text/javascript').

		// A $( document ).ready() block.
		$( document ).ready(function() {
			var numSeat = $('select#getSeats').find(":selected").val();
			$('input#inputPrice').val(numSeat*4000);
			console.log( "ready!", numSeat );
			seatsForm(numSeat);



		});

		function seatsForm(seats) {
			var reservationUser = $('.reservationUser').length
			$('.reservationUser').hide();
			//- $('.paypalBTN').hide();
			var i;
			for (i = 0; i < seats; i++) { 
				$('.reservationUser').eq(i).show();
			}
			$('.paypalBTN').eq(seats).show();
		}

		$('select#getSeats').change(function(){
			var result = $('#reservationForm').serializeJSON();
			var numSeat = $(this).find(":selected").val();
			$('input#inputPrice').val(numSeat*4000);
			//- $('#output1').html('JSON: ' + JSON.stringify(result));
			seatsForm(numSeat);
		});


		$("#btn-bank-foobar").on('click', function(event){
			event.preventDefault();
			$.alert({
				title: 'Attention Please!',
				content: "<strong>Please note:</strong><br></p>Account holder: Danish-Thai Chamber of Commerce<br>Bank name: Bangkok Bank<br>Branch: Ratchathewi<br>Account number: 123-318207-8<br>Swift code: BKKBTHBK</div>",
				buttons: {
					Okey: function(){
						var numSeat = $('select#getSeats').find(":selected").val();

						results = $('#reservationForm').serializeJSON();
						resultdata = JSON.stringify(results);
						console.log(results);
						//- $('#output2').html('JSON: ' + JSON.stringify(result));
						$.ajax({
							url: "/user/reservation",
							method: "POST",
							data: {
								"invoicereceipt": invoicereceipt,
								"resevation": resevation
								}
						}).done(function( data ) {
							if ( data ) {
								if(data.status == 'error'){

									var errors = '<ul>';
									$.each( data.message, function( key, value ) {
										errors = errors +'<li>'+value.msg+'</li>';
									});
									errors = errors+ '</ul>';
									$("#msgDiv").html(errors).show();
								}else{
									//- $("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show(); 
									//- location.href = "/user/reservation";
								}
							}
						});
					}
				}
			});
		});

		paypal.Buttons({
			style: {
				layout:  'vertical',
				color:   'blue',
				shape:   'rect',
				label:   'paypal',
				size:    'responsive'
			},
			createOrder: function(data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: $('input#inputPrice').val(),
							currency_code: 'THB',
							breakdown: {
								item_total: {
									value: $('input#inputPrice').val(),
									currency_code: 'THB'
								}
							}
						},
						items: [{
							name: $('select#getSeats').find(":selected").val()+' Reservation Seat(s)',
							unit_amount: {
								value: '4000',
								currency_code: 'THB'
							},
							quantity: $('select#getSeats').find(":selected").val(),
							sku: 'dtcc-booking-01'
						}]
					}]

				});
			},
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
					$.alert({
						title: 'Thank you',
						content: "<strong>Transaction completed by</strong> " + details.payer.name.given_name,
						buttons: {
							Okey: function(){
								console.log('Transaction completed by ' + details.payer.name.given_name );
								console.log( 'data.orderID = ' + data.orderID ); 
								//- document.getElementById('orderID').value = data.orderID;
								console.log('data'); console.log(data); 
								console.log('Transaction completed by ' + details.payer.name.given_name );
								console.log('details'); console.log(details);
								console.log('Transaction completed by ' + details.payer.name.given_name );
								location.href = "/user/paypal-transaction-complete";

								document.getElementById("reservationForm").submit();
							}
						}
					});
				});
			},
			onError: function (err) {
				console.log(err);
			}
		}).render('#paypal-button-container-1');
