extends layouts/_layout.pug

block variables
	- var activePage = 'register-page'
	- var activeGroup = 'pages'

block title
	title #{title} | Danish - Thai Gala


mixin addInputText(inputText, inputId, inputName, inputValue)
	.form-group()&attributes(attributes)
		label.collebelxxx.control-label(for=inputId): strong= inputText
		.colinputxxx
			input.form-control(id=inputId type="text" name=inputName placeholder=inputText autofocus="" value!= inputValue)
			if block
				block

mixin addInputSelect(inputText, inputId, inputName, inputValue, ...items)
	.form-group()&attributes(attributes)
		label.collebelxxx.control-label(for=inputId): strong= inputText
		select.form-control(id=inputId name=inputName)
			each item in items
				option(value=item[0])= item[1]


block content
	section.material-half-bg
		.cover
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.display-1
		form#paymentForm(role="form", method="post")
			.form-group
				.alert.alert-danger(role='alert', id="msgDiv")
			h3 Payment Profile
			hr
			+addInputSelect("Select you billing type", "isBusiness", "isBusiness", "false", ["false","Personl"], ["true","Business"])
			.form-row
				+addInputText("First Name", "firstName", "firstName", "")(class="col-md-6 isBusinessFalse")
				+addInputText("Last Name", "lastName", "lastName", "")(class="col-md-6 isBusinessFalse")
			.form-row
				+addInputText("Mobile No.", "mobileNo", "phone[mobile]", "")(class="col-md-6")
				+addInputText("Phone","phone", "phone[home]", "")(class="col-md-6")
			+addInputText("Email", "email", "email", "")
				small#emailHelp.form-text.text-muted We'll never share your email with anyone else.


			h3 Billing Information
			hr
			.form-row
				+addInputText("Company Name", "companyName", "company[name]", "")(class="col-md-8 isBusinessTrue" hidden)
				+addInputText("TAX ID", "taxId", "company[taxId]", "")(class="col-md-4 isBusinessTrue" hidden)
			+addInputText("Address","address", "address[address]", "")
			+addInputText("Street","street", "address[street]", "")
			.form-row
				+addInputText("City","city", "address[city]", "")(class="col-md-6")
				+addInputText("Province","province", "address[province]", "")(class="col-md-4")
				+addInputText("Postal","postalCode", "address[postalCode]", "")(class="col-md-2")
			.form-row
				+addInputText("Office Phone","officePhone", "company[office]", "")(class="col-md-6 isBusinessTrue" hidden)
				+addInputText("Fax","fax", "company[fax]", "")(class="col-md-6 isBusinessTrue" hidden)

			.row
				.col-md-12.mt-5
					button#register-1-foobar.btn.btn-primary.btn-block(type="submit") Save Payment Data
			pre#output1.output1
			pre#output2.output2

block specific-js
	script(type='text/javascript').

		$("#register").on('click', function(event){
			event.preventDefault();

		});

		//- $('input, select').change(function(){
		//- 	var result = $('#paymentForm').serializeJSON();
		//- 	console.log(result);
		//- 	$('#output1').html('JSON: ' + JSON.stringify(result));
		//- });

		$('select#isBusiness').change(function(){
			var isBusiness = $(this).attr("selected","selected").val();
			if(isBusiness == 'true')
				$(".isBusinessTrue").removeAttr('hidden');
			else
				$(".isBusinessTrue").attr("hidden", true);
		});


		$("#register-1-foobar").on('click', function(event){
			event.preventDefault();
			result = $('#paymentForm').serializeJSON();
			console.log(result);
			$('#output2').html('JSON: ' + JSON.stringify(result));

			$.ajax({
				url: "/user/payment_profile",
				method: "POST",
				data: result
			}).done(function( data ) {
				if ( data ) {
					if(data.status == 'error'){

						var errors = '<ul>';
						$.each( data.message, function( key, value ) {
							errors = errors +'<li>'+value.msg+'</li>';
						});
						errors = errors+ '</ul>';
						$("#msgDiv").html(errors).show();
					}else{
						$("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show(); 
					}
				}
			});
			//- let data = $("form").serialize();
			//- $("#dddd").text(data).focus();

			//- $.alert({
			//- 	title: 'Attention Please!',
			//- 	content: "<strong>This is testing site:</strong><br>After save system will send email to DTCC ORGANISER.<br> It will skip into next step without send any email<br><small>- Eddard 'Ned' Stark</small>",
			//- 	buttons: {
			//- 		Okey: function(){
			//- 			location.href = "/user/reservation";
			//- 		}
			//- 	}
			//- });
		});