extends layouts/_layout.pug

block variables
	- var activePage = 'booking-reservation-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-striped.table-bordered.w-100#sampleTable
							thead
								tr
									//- th No.
									th Reservation
									th Contact
									th Food
									//- th isBusiness
									//- td mobile
									//- td companyName
									//- td companyTaxId
									th Book by
									//- td addressStreet
									//- td addressCity
									//- td addressProvince
									//- td addressPostalCode
									//- td Phone
									//- td companyFax
									//- th _transactionid
									th.text-center Date
									th.text-center Doc.
									th.text-center Status
							tbody
								each reservedata, index in reservations
									if reservedata._transactionid
										tr(id='row-'+reservedata.id)
											//- td.align-middle.text-capitalize #{index+1}
											td.align-middle.text-capitalize #{reservedata.getFullname()}
											td.align-middle
												.small
													.text-lowercase #{reservedata.email}
													| #{reservedata._user.paymentProfile.mobile}
											td.align-middle.text-center #{reservedata.food}
											//- td #{reservedata._user.paymentProfile.isBusiness}
											//- td #{reservedata._user.paymentProfile.mobile}
											//- td #{reservedata._user.paymentProfile.companyName}, #{reservedata._user.paymentProfile.companyTaxId}
											//- td #{reservedata._user.paymentProfile.companyTaxId}
											td
												if reservedata._user.paymentProfile.isBusiness
													strong.text-capitalize.m-0 #{reservedata._user.paymentProfile.companyName}
													.small #{reservedata._user.paymentProfile.companyTaxId}
												else
													strong.text-capitalize.m-0 #{reservedata._user.getFullname()}
												.small #{reservedata._user.paymentProfile.address}, #{reservedata._user.paymentProfile.addressStreet} <br> #{reservedata._user.paymentProfile.addressCity}, #{reservedata._user.paymentProfile.addressProvince}, #{user.paymentProfile.addressPostalCode}
													if reservedata._user.paymentProfile.isBusiness
														br
														| Office: #{reservedata._user.paymentProfile.companyOffice}, Fax: #{reservedata._user.paymentProfile.companyFax}
													else
														br
														| Mobile: #{reservedata._user.paymentProfile.mobile}

											//- td.align-middle.text-center.small cccccc
											if reservedata._transactionid.paypalOrderID
												td.align-middle.text-center.small #{moment(reservedata._transactionid.paypalJson.purchase_units[0].payments.captures[0].create_time).format('Do MMMM YYYY')}
												td.align-middle.text-center
													if reservedata._transactionid.paypalOrderID
														a.btn-sm.btn-info(href='/user/invoice/'+reservedata._transactionid._id, target='_blank') Receipt
														//- br
														//- | #{reservedata._transactionid.paypalJson.status}
													else
														span.badge.badge-warning #{reservedata._transactionid.paypalJson.status}
												td.align-middle.text-center
													if reservedata._transactionid.paypalOrderID
														span.badge.badge-success #{reservedata._transactionid.paypalJson.status}
													else
														span.badge.badge-warning Waiting
											else
												td
												td
												td

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")
	script(type='text/javascript', src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js")
	script(type='text/javascript', src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js")
	script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")
	script(type='text/javascript', src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js")
	script(type='text/javascript').

		$(document).ready(function () {
			$.fn.dataTable.ext.errMode = 'throw';

			$.fn.dataTable.moment('HH:mm MMM D, YY');
			$.fn.dataTable.moment('dddd, MMMM Do, YYYY');
			$.fn.dataTable.moment('DD/MM/YYYY');
			$.fn.dataTable.moment('Do MMMM YYYY');

			$('#sampleTable').DataTable( {
				"scrollX": true,
				"order": [[ 4, "desc" ]],
				"dom": 'Bfrtip',
				"buttons": [
						{
								extend: 'excelHtml5',
								text: 'Export excel',
								className: 'exportExcel',
								filename: 'Export Reservation excel',
								exportOptions: {
									modifier: {
										page: 'all'
									}
								}
						}
				]
			});
		});

		console.log(`#{reservations}`);