extends layouts/_layout.pug

block variables
	- var activePage = 'booking-reservation-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th No.
									th Name
									th Email
									th Food
									//- th isBusiness
									//- td mobile
									//- td companyName
									//- td companyTaxId
									td address
									//- td addressStreet
									//- td addressCity
									//- td addressProvince
									//- td addressPostalCode
									//- td Phone
									//- td companyFax
									th _transactionid
									td data
									th.text-center Status
							tbody
								each reservedata, index in reservations
									tr(id='row-'+reservedata.id)
										td #{index+1}
										td #{reservedata.getFullname()}
										td #{reservedata.email}<br>#{reservedata._user.paymentProfile.mobile}
										td #{reservedata.food}
										//- td #{reservedata._user.paymentProfile.isBusiness}
										//- td #{reservedata._user.paymentProfile.mobile}
										//- td #{reservedata._user.paymentProfile.companyName}, #{reservedata._user.paymentProfile.companyTaxId}
										//- td #{reservedata._user.paymentProfile.companyTaxId}
										td
											if reservedata._user.isBusiness
												| #{reservedata._user.paymentProfile.companyName}<br>#{reservedata._user.paymentProfile.companyTaxId}<br>
											else
												| #{reservedata._user.getFullname()}
											br
											| #{reservedata._user.paymentProfile.address}, #{reservedata._user.paymentProfile.addressStreet}, #{reservedata._user.paymentProfile.addressCity}, #{reservedata._user.paymentProfile.addressProvince}, #{reservedata._user.paymentProfile.addressPostalCode}<br>
											| #{reservedata._user.paymentProfile.companyOffice}, #{reservedata._user.paymentProfile.companyFax}
										//- td #{reservedata._user.paymentProfile.addressStreet}
										//- td #{reservedata._user.paymentProfile.addressCity}
										//- td #{reservedata._user.paymentProfile.addressProvince}
										//- td #{reservedata._user.paymentProfile.addressPostalCode}
										//- td #{reservedata._user.paymentProfile.companyOffice}, #{reservedata._user.paymentProfile.companyFax}
										//- td #{reservedata._user.paymentProfile.companyFax}
										td
											| #{reservedata._transactionid.paypalPayerID}
											br
											| #{reservedata._transactionid.paypalOrderID}
											br
											| #{reservedata._transactionid.bookID}
											br
											if reservedata._transactionid.paypalJson != 'ssssss'
												- var fff = reservedata._transactionid.paypalJson
												- var ttt = JSON.stringify(fff)
												//- | #{ttt}

										td #{reservedata._transactionid.amount}
										td.text-center
											span.badge.badge-warning #{reservedata.status}
block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').

		$('#sampleTable').DataTable( {
			"scrollX": true
		} );

		console.log(`#{reservations}`);