extends layouts/_layout.pug

block variables
	- var activePage = 'booking-reservation-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th No.
									th Name
									th Email
									//- th Food
									//- th isBusiness
									//- th mobile
									//- th companyName
									//- th companyTaxId
									th address
									//- th addressStreet
									//- th addressCity
									//- th addressProvince
									//- th addressPostalCode
									//- th Phone
									//- th companyFax
									th _transactionid
									th Date
									th data
									th.text-center Status
							tbody
								each user, index in users
									each invoicereceipt, index in user.invoicereceipts
										if invoicereceipt.paypalOrderID
											tr(id='row-'+user.id)
												td #{index+1}
												td #{user.getFullname()}
												td #{user.email}<br>#{user.paymentProfile.mobile}
												//- td #{reservedata.food}
												//- td #{user.paymentProfile.isBusiness}
												//- td #{user.paymentProfile.mobile}
												//- td #{user.paymentProfile.companyName}, #{user.paymentProfile.companyTaxId}
												//- td #{user.paymentProfile.companyTaxId}
												td
													if user.isBusiness
														| #{user.paymentProfile.companyName}<br>#{user.paymentProfile.companyTaxId}<br>
													else
														| #{user.getFullname()}
													br
													| #{user.paymentProfile.address}, #{user.paymentProfile.addressStreet}, #{user.paymentProfile.addressCity}, #{user.paymentProfile.addressProvince}, #{user.paymentProfile.addressPostalCode}<br>
													| #{user.paymentProfile.companyOffice}, #{user.paymentProfile.companyFax}

												td
													| #{invoicereceipt.paypalPayerID}
													br
													| #{invoicereceipt.paypalOrderID}
													br
													| #{invoicereceipt.bookID}
													br
												td.align-middle.text-center #{invoicereceipt.createdAt}
												td.align-middle.text-center
													if invoicereceipt.paypalOrderID
														a.btn-sm.btn-info(href='/user/invoicebyuser/'+invoicereceipt._id, target='_blank') Receipt
													else
														span.badge.badge-warning #{invoicereceipt.status}
												td.align-middle.text-center
													if invoicereceipt.paypalOrderID
														span.badge.badge-success CONFIRM
													else
														span.badge.badge-warning #{invoicereceipt.status}


block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').

		$('#sampleTable').DataTable( {
			"scrollX": true
		} );

		console.log(`#{reservations}`);