extends layouts/_layout.pug

block variables
	- var activePage = 'booking-payment-profile'
	- var activeGroup = 'booking'

block title
	title #{title} | Danish - Thai Gala


mixin addInputText(inputText, inputId, inputName, inputValue)
	.form-group()&attributes(attributes)
		label.collebelxxx.control-label(for=inputId): strong= inputText
		.colinputxxx
			input.form-control(id=inputId type="text" name=inputName placeholder=inputText autofocus="" value= inputValue)
			if block
				block

mixin addInputSelect(inputText, inputId, inputName, inputValue, ...items)
	.form-group()&attributes(attributes)
		label.collebelxxx.control-label(for=inputId): strong= inputText
		select.form-control(id=inputId name=inputName)
			each item in items
				option(value=item[0] selected=inputValue)= item[1]


block content
	section.material-half-bg
		.cover
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.display-1
		form#paymentForm(role="form", method="post", data-toggle="validator")
			include includes/_errorMessage.pug
			.form-group
				.alert.alert-danger(role='alert', id="msgDiv")
			h3 Payment Profile
			hr
			+addInputSelect("Select you billing type", "isBusiness", "isBusiness", data.paymentProfile.isBusiness, ["false","Personal"], ["true","Business"])
			.form-row
				+addInputText("First Name", "firstName", "firstName", data.paymentProfile.firstName)(class="col-md-6 isBusinessFalse")
				+addInputText("Last Name", "lastName", "lastName", data.paymentProfile.lastName)(class="col-md-6 isBusinessFalse")
			.form-row
				+addInputText("Mobile No.", "mobileNo", "mobile", data.paymentProfile.mobile)(class="col-md-6")
				+addInputText("Phone","phone", "home", data.paymentProfile.home)(class="col-md-6")
			+addInputText("Email", "email", "email", data.email)
				small#emailHelp.form-text.text-muted We'll never share your email with anyone else.


			h3 Billing Information
			hr
			.form-row
				+addInputText("Company Name", "companyName", "companyName", data.paymentProfile.companyName)(class="col-md-8 isBusinessTrue" hidden)
				+addInputText("TAX ID", "taxId", "companyTaxId", data.paymentProfile.companyTaxId)(class="col-md-4 isBusinessTrue" hidden)
			+addInputText("Address","address", "address", data.paymentProfile.address)
			+addInputText("Street","street", "addressStreet", data.paymentProfile.addressStreet)
			.form-row
				+addInputText("City","city", "addressCity", data.paymentProfile.addressCity)(class="col-md-6")
				+addInputText("Province","province", "addressProvince", data.paymentProfile.addressProvince)(class="col-md-4")
				+addInputText("Postal","postalCode", "addressPostalCode", data.paymentProfile.addressPostalCode)(class="col-md-2")
			.form-row
				+addInputText("Office Phone","officePhone", "companyOffice", data.paymentProfile.companyOffice)(class="col-md-6 isBusinessTrue" hidden)
				+addInputText("Fax","fax", "companyFax", data.paymentProfile.companyFax)(class="col-md-6 isBusinessTrue" hidden)

			.row
				.col-md-12.mt-5
					input(type="hidden" name='userID' value=data.id)
					button#btn-payment-submit.btn.btn-primary.btn-block(type="submit") Save Payment Data
					button#resetBtn.btn.btn-secondary.btn-block(type="reset") Reset

block specific-js
	script(type='text/javascript').

		// A $( document ).ready() block.
		$( document ).ready(function() {
			var isBusiness = $('select#isBusiness').attr("selected","selected").val();
			if(isBusiness == 'true')
				$(".isBusinessTrue").removeAttr('hidden');
			else
				$(".isBusinessTrue").attr("hidden", true);
		});

		$("#register").on('click', function(event){
			event.preventDefault();

		});

		$('select#isBusiness').change(function(){
			var isBusiness = $(this).attr("selected","selected").val();
			if(isBusiness == 'true')
				$(".isBusinessTrue").removeAttr('hidden');
			else
				$(".isBusinessTrue").attr("hidden", true);
		});

		//- $('#btn-payment-submit').validator().on('submit', function (e) {
		//- 	if (e.isDefaultPrevented()) {
		//- 		// handle the invalid form...
		//- 	} else {
		//- 		// everything looks good!
		//- 	}
		//- })

		$("#register-1-foobar").on('click', function(event){
			event.preventDefault();
			result = $('#paymentForm').serializeJSON();
			console.log(result);
			//- $('#output2').html('JSON: ' + JSON.stringify(result));

			$.ajax({
				url: "/user/payment_profile",
				method: "POST",
				data: result
			}).done(function( data ) {
				if ( data ) {
					if(data.status == 'error'){

						var errors = '<ul>';
						$.each( data.message, function( key, value ) {
							errors = errors +'<li>'+value.msg+'</li>';
						});
						errors = errors+ '</ul>';
						$("#msgDiv").html(errors).show();
					}else{
						//- $("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show();
						location.href = "/user/reservation";
					}
				}
			});
			//- let data = $("form").serialize();
			//- $("#dddd").text(data).focus();

			//- $.alert({
			//- 	title: 'Attention Please!',
			//- 	content: "<strong>This is testing site:</strong><br>After save system will send email to DTCC ORGANISER.<br> It will skip into next step without send any email<br><small>- Eddard 'Ned' Stark</small>",
			//- 	buttons: {
			//- 		Okey: function(){
			//- 			location.href = "/user/reservation";
			//- 		}
			//- 	}
			//- });
		});