extends layouts/_layout.pug

block variables
	- var activePage = 'booking-reservation-view'
	- var activeGroup = 'booking'
	- var i = 1
	- var theprice = process.env.PRODUCT_PRICE

block title
	title #{title} | Danish - Thai Gala

block content

	section.material-half-bg
		.cover
		include includes/_errorMessage.pug
	section.container
		h2.text-center.top-buffer.text-white #{title}
		br
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th No.
									th Name
									th Email
									th Food
									//- th isBusiness
									//- td mobile
									//- td companyName
									//- td companyTaxId
									td address
									//- td addressStreet
									//- td addressCity
									//- td addressProvince
									//- td addressPostalCode
									//- td Phone
									//- td companyFax
									th _transactionid
									td data
									th.text-center Status
							tbody
								each reservedata, index in reservations
									tr(id='row-'+reservedata.id)
										td #{index+1}
										td #{reservedata.getFullname()}
										td #{reservedata.email}<br>#{reservedata._user.paymentProfile.mobile}
										td #{reservedata.food}
										//- td #{reservedata._user.paymentProfile.isBusiness}
										//- td #{reservedata._user.paymentProfile.mobile}
										//- td #{reservedata._user.paymentProfile.companyName}, #{reservedata._user.paymentProfile.companyTaxId}
										//- td #{reservedata._user.paymentProfile.companyTaxId}
										td
											if reservedata._user.isBusiness
												| #{reservedata._user.paymentProfile.companyName}<br>#{reservedata._user.paymentProfile.companyTaxId}<br>
											else
												| #{reservedata._user.getFullname()}
											br
											| #{reservedata._user.paymentProfile.address}, #{reservedata._user.paymentProfile.addressStreet}, #{reservedata._user.paymentProfile.addressCity}, #{reservedata._user.paymentProfile.addressProvince}, #{reservedata._user.paymentProfile.addressPostalCode}<br>
											| #{reservedata._user.paymentProfile.companyOffice}, #{reservedata._user.paymentProfile.companyFax}
										//- td #{reservedata._user.paymentProfile.addressStreet}
										//- td #{reservedata._user.paymentProfile.addressCity}
										//- td #{reservedata._user.paymentProfile.addressProvince}
										//- td #{reservedata._user.paymentProfile.addressPostalCode}
										//- td #{reservedata._user.paymentProfile.companyOffice}, #{reservedata._user.paymentProfile.companyFax}
										//- td #{reservedata._user.paymentProfile.companyFax}
										td
											| #{reservedata._transactionid.paypalPayerID}
											br
											| #{reservedata._transactionid.paypalOrderID}
											br
											| #{reservedata._transactionid.bookID}
											br
											if reservedata._transactionid.paypalJson != 'ssssss'
												- var fff = reservedata._transactionid.paypalJson
												- var ttt = JSON.stringify(fff)
												//- | #{ttt}

										td
											section.invoice
												.row.mb-4
													.col-6
														h2.page-header
															i.fa.fa-globe
															|  DTCC
													.col-6
														h5.text-right Date: 01/01/2016
												.row.invoice-info
													.col-4
														| From
														address
															strong DTCC
															br
															| 518 Akshar Avenue
															br
															| Gandhi Marg
															br
															| New Delhi
															br
															| Email: hello@vali.com
													.col-4
														| To
														address
															if reservedata._user.isBusiness
																strong #{reservedata._user.paymentProfile.companyName}
																br
																| TAX ID : #{reservedata._user.paymentProfile.companyTaxId}
															else
																strong #{reservedata.getFullname()}
															br
															| #{reservedata._user.paymentProfile.address}
															br
															| #{reservedata._user.paymentProfile.addressStreet}
															br
															| #{reservedata._user.paymentProfile.addressCity}, #{reservedata._user.paymentProfile.addressProvince}
															br
															| #{reservedata._user.paymentProfile.addressPostalCode}
															br
															| Phone: #{reservedata._user.paymentProfile.mobile}
															br
															| Email: #{reservedata._user.email}

													.col-4
														b Invoice #007612
														br
														br
														b Order ID:
														|  4F3S8J
														br
														b Payment Due:
														|  2/22/2014

												.row
													.col-12.table-responsive
														table.table.table-striped
															thead
																tr
																	th Qty
																	th Product
																	th Book Name
																	th Book Number
																	th Food
																	th Subtotal
															tbody
																tr
																	td 4
																	td DTCC GALA dinner seats
																	td
																		ul
																			li Name1 Lastname1
																			li Name2 Lastname2
																			li Name3 Lastname3
																			li Name4 Lastname4
																	td
																		ul
																			li 100001-001
																			li 100001-002
																			li 100001-003
																			li 100001-004
																	td
																		ul
																			li Hindu Meals
																			li Vegetarian Meals
																			li Seafood Meals
																			li Child Meals
																	td 16,000 THB
												.row.d-print-none.mt-2
													.col-12.text-right
														a.btn.btn-primary(href='javascript:window.print();', target='_blank')
															i.fa.fa-print
															|  Print
											#{reservedata._transactionid.amount}
										td.text-center
											span.badge.badge-warning #{reservedata.status}
block specific-js
	// Data table plugin
	script(type='text/javascript', src="/javascripts/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/javascripts/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').

		$('#sampleTable').DataTable( {
			"scrollX": true
		} );

		console.log(`#{reservations}`);